@media (max-widt: 768px) {

    /*navbar*/
    .header_list,
    .header_adres {
        display: none;
    }

    .header-div {
        width: 100%;
    }

    /*section*/
    .ul-list {
        justify-content: center;
    }

    .section-text-container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}