@media screen and (max-width: 1158px) {
    /*header*/

    header .header-div {
        width: 100%;
    }

    header .header_list {
        justify-content: center;
        align-items: center;
    }

    header .header-adres_list {
        flex-direction: column;
        gap: 12px;
    }

}